.edit {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 70%;
  margin: 1em;
  padding: 5px;
  font-size: 1.5em;
  -webkit-appearance: none;
  background-color: transparent;
  margin: 0 auto;
  box-shadow: none;
  border: none;
}